<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <style>
        body {
            font-size: 15pt;
            font-family: arial;
        }
    </style>
</head>
<body>
    <header>

        <a href="{{ url_for('view_models') }}">Models</a>
        <a href="{{ url_for('view_datasets') }}">Datasets</a>
        <a href="{{ url_for('view_citations') }}">Citations</a>


        {% if session['username'] %}
            <a href="{{ url_for('view_postlogin') }}">Homepage</a>
            <a href="{{ url_for('logging_out') }}">Sign Out</a>
        {% else %}
            <a href="{{ url_for('view_login') }}">Log in</a>
        {% endif %}
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
