{% extends 'base.html' %}

{% block title %}Citations{% endblock %}

{% block content %}
    <h1>Citations</h1>

    <table>
        <tr>
            <th>Citation ID</th>
            <th>Author 1</th>
            <th>Author 2</th>
            <th>Year Published</th>
            <th>Conference</th>
        </tr>
        {% for n in temp %}
            <tr>
                <td>{{ n[0] }}</td>
                <td>{{ n[1] }}</td>
                <td>{{ n[2] }}</td>
                <td>{{ n[3] }}</td>
                <td>{{ n[4] }}</td>
            </tr>
        {% endfor %}
    </table>

    

    {% if session['username'] %}
        <a href="{{ url_for('upload_citation_page') }}">Upload a Citation</a>
    {% endif %}

    <h1>Search for authors in a specific field from a certain date onwards</h1>

    <form method="POST" action="{{ url_for('search_authors') }}">
        <label for="search">Authors famous for</label>
        <input type="text" id = 'search' name = 'search'>
        <label for="date">From this year onwards</label>
        <input type="date" id = 'date' name = 'date'>
        <input type="submit", value="Submit">
    </form>



{% endblock %}
