<html>
    <body>
        <h1>New Free tier Customer</h1>
        <form method="POST" action="/upload_free_tier">

            <h2>Customer Information</h2>

            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <h2>Free Tier Information</h2>

            <label for="num_downloads_left">Number of Downloads Left:</label>
            <input type="number" id="num_downloads_left" name="num_downloads_left" required>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
