<html>
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>

<body>
    <!-- <header>

        Login:

    </header> -->

    Login:

    <br/>

    <form action="" method="post">

        <label for="username">Username:</label><br/>
        <input type="text" id="username" name="username" /><br/>

        <label for="pass">Password:</label><br/>
        <input type="password" id="pass" name="password"/><br/>

        <button type="submit" value="Sign in">Sign in</button>

        {{error}}
    
    </form>


</body>

<br>

<a href="{{ url_for('create_new_free_tier') }}">Create new free tier user</a><br>
<a href="{{ url_for('create_new_premium_tier') }}">Create new premium tier user</a><br>

</html>