<!-- models.html -->
{% extends 'base.html' %}

{% block title %}Models{% endblock %}

{% block content %}
    <h1>Models</h1>

    <table>
        <tr>
            <th>Model ID</th>
            <th>Model Name</th>
            <th>Number of Downloads</th>
        </tr>
        {% for n in temp %}
            <tr>
                <td>{{ n[0] }}</td>
                <td><a href="{{ url_for('view_specific_model', model_id=n[0]) }}">{{ n[1] }}</a></td>
                <td>{{ n[2] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
