<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <header>
    <!-- <button id="Enter" type="button" onclick="window.location.href = '/models' ; " class="button">Models</button>
    <button id="Enter" type="button" onclick="window.location.href = '/datasets' ; " class="button">Datasets</button>
    <button id="Enter" type="button" onclick="window.location.href = '/login' ; " class="button">Log In</button> -->

    <a href="{{ url_for('view_models') }}">Models</a>
    <a href="{{ url_for('view_datasets') }}">Datasets</a>
    <a href="{{ url_for('index') }}">Sign out</a>

  </header>
  <h1>Welcome {{username}}</h1>

  <img src="https://th.bing.com/th/id/R.ef5dd740f43b2c077260b3973c8e5571?rik=sKtUcgRj4YVUnw&pid=ImgRaw&r=0" alt="test image" height="200px" width="300px">

  <!-- <div>{{data}}</div> -->

  <!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->

</body>


</html>
