<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <header>
    <!-- <button id="Enter" type="button" onclick="window.location.href = '/models' ; " class="button">Models</button>
    <button id="Enter" type="button" onclick="window.location.href = '/datasets' ; " class="button">Datasets</button>
    <button id="Enter" type="button" onclick="window.location.href = '/login' ; " class="button">Log In</button> -->

    <a href="{{ url_for('view_models') }}">Models</a>
    <a href="{{ url_for('view_datasets') }}">Datasets</a>
    <a href="{{ url_for('view_citations') }}">Citations</a>
    <a href="{{ url_for('logging_out')}}">Sign out</a>
    <a href="{{ url_for('delete_a_user', username = userinputs[0]) }}">Delete your account</a>

  </header>
  <h1>Welcome {{ userinputs[0] }}</h1>
  <h3>You are successfully logged in!</h3>

  <img src="https://th.bing.com/th/id/R.ef5dd740f43b2c077260b3973c8e5571?rik=sKtUcgRj4YVUnw&pid=ImgRaw&r=0" alt="test image" height="200px" width="300px">

  {% if userinputs[1] == 'free_tier'%}

  <h1>You are a free tier member</h1>
  <h2>You have {{ session["num_downloads_left"] }} free downloads left.</h2>

  {% else %}

  <h1> Congrats, you are a premium user, would you like to train a model?</h1>

  <a href="{{ url_for('train_a_model_with_dataset') }}">Train a Model</a>
  <br>

  <a href="{{ url_for('train_history', username = userinputs[0]) }}">View training history</a>


  {% endif %}

  <br>

  <h1>Search below for relevant models and datasets:</h1>

  <form method="POST" action="{{ url_for('search_models_datasets') }}">
    <input type="text" id = 'search' name = 'search'>
    <input type="submit", value="Submit">
  </form>

  <!-- <div>{{data}}</div> -->

  <!-- <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->

</body>


</html>
