<html>
    <style>
        body{ 
          font-size: 15pt;
          font-family: arial;
        }
      </style>

<body>
    <header>
        <!-- <button id="Enter" type="button" onclick="window.location.href = '/models' ; " class="button">Models</button>
        <button id="Enter" type="button" onclick="window.location.href = '/datasets' ; " class="button">Datasets</button>
        <button id="Enter" type="button" onclick="window.location.href = '/login' ; " class="button">Log In</button> -->
    
        <a href="{{ url_for('view_models') }}">Models</a>
        <a href="{{ url_for('view_datasets') }}">Datasets</a>

        {% if session['username'] != None%}
        
        <a href="{{ url_for('index') }}">Sign Out</a>

        {% else %}
        
        <a href="{{ url_for('view_login') }}">Log in</a>

        {% endif %}
    
    </header>

    <h1>
    Model Info
    </h1>

    <table>
        {% for n in temp%}
        <tr>
            <td>{{n[0]}}:</td>
            <td>{{n[1]}}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Version History</h1>

    <table>
        <tr>
            <th>model_id</th>
            <th>time_stamp</th>
            <th>version</th>
        </tr>
        {% for m in revs%}
        <tr>
            <td>{{m[0]}}</td>
            <td>{{m[1]}}</td>
            <td>{{m[2]}}</td>
        </tr>
        {% endfor %}

    


</body>

</html>